# --- Gradle
.gradle/
**/build/

# --- IDEs
.idea/
*.iml
out/
.classpath
.project
.settings/
*.launch
nbactions.xml
nb-configuration.xml
**/nbproject/private/
**/nbbuild/
**/dist/
**/nbdist/

# --- Java
*.class
hs_err_pid*
.attach_pid*

# --- LibGDX/Platforms (safe if added later)
# Android
local.properties
**/android/libs/
**/android/gen/
com_crashlytics_export_strings.xml

# GWT
.gwt/
gwt-unitCache/
html/war/
html/gwt-unitCache/

# iOS/Robovm
ios/robovm-build/
ios/IOSLauncher.app
ios/IOSLauncher.app.dSYM
ios/xcode/*.xcodeproj/*
!ios/xcode/*.xcodeproj/xcshareddata
!ios/xcode/*.xcodeproj/project.pbxproj
ios/xcode/native/

# --- OS junk
.DS_Store
Thumbs.db

# --- Misc
*~
*.*#
*#*#
/.kotlin/
assets/assets.txt

# If you use Graal Native Image, remove this ignore:
**/resource-config.json

